.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677734;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._15{width:14.080000px;}
._14{width:17.952000px;}
._2{width:36.388000px;}
._13{width:53.108000px;}
._d{width:66.044000px;}
._17{width:73.040000px;}
._11{width:81.180000px;}
._f{width:90.508000px;}
._19{width:111.936000px;}
._b{width:118.536000px;}
._1a{width:135.828000px;}
._10{width:137.808000px;}
._5{width:140.140000px;}
._1b{width:142.340000px;}
._9{width:145.420000px;}
._1e{width:155.892000px;}
._16{width:160.116000px;}
._1c{width:161.612000px;}
._12{width:186.120000px;}
._18{width:189.112000px;}
._1f{width:200.860000px;}
._1d{width:202.092000px;}
._7{width:208.560000px;}
._e{width:219.824000px;}
._c{width:221.056000px;}
._8{width:247.544000px;}
._1{width:281.204000px;}
._6{width:379.852000px;}
._4{width:407.132000px;}
._a{width:601.876000px;}
._3{width:611.468000px;}
._0{width:730.796000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.000000px;}
.fs2{font-size:56.000000px;}
.fs1{font-size:64.000000px;}
.y3{bottom:2.954000px;}
.y2{bottom:16.382001px;}
.y1d{bottom:74.964988px;}
.y1c{bottom:111.821006px;}
.y1b{bottom:135.248984px;}
.y1a{bottom:158.677024px;}
.y19{bottom:182.105002px;}
.y18{bottom:205.532981px;}
.y17{bottom:228.961020px;}
.y16{bottom:252.388999px;}
.y15{bottom:275.817008px;}
.y14{bottom:299.245017px;}
.y13{bottom:322.672996px;}
.y12{bottom:379.123026px;}
.y11{bottom:407.421012px;}
.y10{bottom:432.862998px;}
.yf{bottom:458.305015px;}
.ye{bottom:483.747001px;}
.yd{bottom:509.189017px;}
.yc{bottom:534.631003px;}
.yb{bottom:560.073005px;}
.ya{bottom:585.515006px;}
.y9{bottom:610.957007px;}
.y8{bottom:636.399009px;}
.y7{bottom:661.841010px;}
.y6{bottom:687.283011px;}
.y5{bottom:712.725009px;}
.y4{bottom:756.058011px;}
.y1{bottom:779.094011px;}
.y0{bottom:783.500000px;}
.h1{height:20.500000px;}
.h2{height:26.856001px;}
.h3{height:31.582031px;}
.h5{height:37.324219px;}
.h4{height:46.593750px;}
.h0{height:841.950012px;}
.w1{width:177.500000px;}
.w2{width:595.349963px;}
.w0{width:595.349976px;}
.x1{left:0.000000px;}
.x2{left:14.200000px;}
.x4{left:32.200000px;}
.x6{left:35.499999px;}
.x3{left:228.668994px;}
.x5{left:294.953006px;}
.x0{left:366.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._15{width:18.773333pt;}
._14{width:23.936000pt;}
._2{width:48.517333pt;}
._13{width:70.810667pt;}
._d{width:88.058667pt;}
._17{width:97.386667pt;}
._11{width:108.240000pt;}
._f{width:120.677333pt;}
._19{width:149.248000pt;}
._b{width:158.048000pt;}
._1a{width:181.104000pt;}
._10{width:183.744000pt;}
._5{width:186.853333pt;}
._1b{width:189.786667pt;}
._9{width:193.893333pt;}
._1e{width:207.856000pt;}
._16{width:213.488000pt;}
._1c{width:215.482667pt;}
._12{width:248.160000pt;}
._18{width:252.149333pt;}
._1f{width:267.813333pt;}
._1d{width:269.456000pt;}
._7{width:278.080000pt;}
._e{width:293.098667pt;}
._c{width:294.741333pt;}
._8{width:330.058667pt;}
._1{width:374.938667pt;}
._6{width:506.469333pt;}
._4{width:542.842667pt;}
._a{width:802.501333pt;}
._3{width:815.290667pt;}
._0{width:974.394667pt;}
.fs0{font-size:58.666667pt;}
.fs2{font-size:74.666667pt;}
.fs1{font-size:85.333333pt;}
.y3{bottom:3.938667pt;}
.y2{bottom:21.842668pt;}
.y1d{bottom:99.953317pt;}
.y1c{bottom:149.094674pt;}
.y1b{bottom:180.331979pt;}
.y1a{bottom:211.569365pt;}
.y19{bottom:242.806670pt;}
.y18{bottom:274.043975pt;}
.y17{bottom:305.281361pt;}
.y16{bottom:336.518665pt;}
.y15{bottom:367.756011pt;}
.y14{bottom:398.993356pt;}
.y13{bottom:430.230661pt;}
.y12{bottom:505.497368pt;}
.y11{bottom:543.228016pt;}
.y10{bottom:577.150664pt;}
.yf{bottom:611.073353pt;}
.ye{bottom:644.996001pt;}
.yd{bottom:678.918690pt;}
.yc{bottom:712.841338pt;}
.yb{bottom:746.764006pt;}
.ya{bottom:780.686675pt;}
.y9{bottom:814.609343pt;}
.y8{bottom:848.532012pt;}
.y7{bottom:882.454680pt;}
.y6{bottom:916.377349pt;}
.y5{bottom:950.300012pt;}
.y4{bottom:1008.077348pt;}
.y1{bottom:1038.792015pt;}
.y0{bottom:1044.666667pt;}
.h1{height:27.333333pt;}
.h2{height:35.808001pt;}
.h3{height:42.109375pt;}
.h5{height:49.765625pt;}
.h4{height:62.125000pt;}
.h0{height:1122.600016pt;}
.w1{width:236.666667pt;}
.w2{width:793.799951pt;}
.w0{width:793.799967pt;}
.x1{left:0.000000pt;}
.x2{left:18.933333pt;}
.x4{left:42.933333pt;}
.x6{left:47.333332pt;}
.x3{left:304.891992pt;}
.x5{left:393.270674pt;}
.x0{left:488.000000pt;}
}
